<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{panelTitle}}</h3>
        <div class="form-group">
            <input type="text" [(ngModel)]="panelTitle" (ngModelChange)="onTitleChange($event)" class="form-control">
        </div>
    </div>
    <div class="panel-body">
        <ol class="list-group">
            <li class="list-group-item" *ngFor="let tutorial of tutorialList; let i = index"><a [href]="tutorial.link" [ngClass]="{even: (i%2), odd: !(i%2)}">{{tutorial.name}}</a> <i class="fa fa-close btn btn-xs btn-danger" (click)="remove(i)"></i></li>
        </ol>
    </div>
    <div class="panel-footer">
        <form class="form form-inline" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
            <div class="form-group" [ngClass]="{'has-error': nameRef.errors  && (nameRef.dirty || nameRef.touched), 'has-success': !nameRef.errors  && (nameRef.dirty || nameRef.touched)}">
                <input type="text" id="name" #nameRef="ngModel" minlength="4" name="name" placeholder="Tutorial Name" class="form-control" [(ngModel)]="tutorialModel.name" required>
                <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)">
                    <p class="help-block" *ngIf="nameRef.errors.minlength">Name should be more than 4 characters</p>
                    <p class="help-block" *ngIf="nameRef.errors.required">Name should not be empty</p>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': linkRef.errors  && (linkRef.dirty || linkRef.touched), 'has-success': !linkRef.errors  && (linkRef.dirty || linkRef.touched)}">
                <input type="text" id="link" #linkRef="ngModel" name="link" placeholder="Tutorial Link" class="form-control" [(ngModel)]="tutorialModel.link" required>
                <div *ngIf="linkRef.errors && (linkRef.dirty || linkRef.touched)">
                    <p class="help-block" *ngIf="linkRef.errors.required">Link should not be empty</p>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</div>